# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Lucy\Lusia\UG\Semestr 3\Testowanie automatyczne\Laby\Projekt1\projekt-1-LudwikaMalinowska\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
